body,
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 52.5%;
}
body {
  font-weight: 400;
  font-family: sans-serif;
}

$color-primary: #d3014e;
$color-primary-2: #800165;
$color-secondary: #333333;
$color-secondary-2: #30302e;
$color-tetiary: #f1f3fd;
$color-tetiary-2: #002851;
$color-text: #f1f1f1;
