.head-1 {
  font-size: 2rem;
  text-transform: capitalize;
}

.head-2 {
  font-size: 2rem;
  text-transform: capitalize;
}

.head-3 {
  margin-top: 3rem;
  color: #c2c2ca;
  font-size: 1rem;
  text-transform: capitalize;
}

.number {
  color: $color-primary;
  font-size: 2rem;
}
.letter {
  color: $color-tetiary-2;
}

.link-1 {
  text-decoration: none;
  color: $color-text;
}

///////////////////////////////////////////@at-root
///
.btn-1 {
  padding: 1.5rem 2.5rem;
  background-color: $color-tetiary;
  border-radius: 1rem;
  border: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-left: 4rem;
  margin-top: 1rem;
}

.btn-2 {
  padding: 2rem 5rem;
  background-color: #066aef;
  color: $color-text;
  display: inline-block;
  border: none;
  margin-left: 40%;
  border-radius: 1rem;
  margin-bottom: -2.2rem;
}

///icon
.check-1 {
  padding: 0.5rem;
  background-image: linear-gradient($color-primary, $color-primary-2);
  color: $color-text;
  border-radius: 50%;
  margin-left: 97%;
}

.icon-2 {
  color: #c2c2ca;
}
